    body {
        padding-top: 10px;
        background: black;
    }
    
    body>h1 {
        font-family: 'Press Start 2P', cursive;
        text-shadow: 3px 3px 1px white;
        color: red;
        padding-bottom: 25px;
        text-align: center;
        font-size: 4em;
    }
    
    body>h2 {
        color: white;
        text-align: center;
        font-family: 'Press Start 2P', cursive;
        animation: eclair 2s infinite;
    }
    
    .grandezone {
        padding-top: 20px;
        display: flex;
        margin: auto;
    }
    
    .compteurpoints {
        width: 15%;
        height: 50px;
        background: white;
        border-radius: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }
    
    .compteurJ1,
    .compteurJ2 {
        text-align: center;
        font-family: 'Press Start 2P', cursive;
    }
    
    .pointsJ1 {
        width: 45%;
        background: lightgray;
        border-radius: 5px;
        height: 40px;
    }
    
    .pointsJ2 {
        width: 45%;
        background: lightgray;
        border-radius: 5px;
        height: 40px;
    }
    
    .zone {
        width: 70%;
    }
    
    .ring {
        width: 1100px;
        height: 420px;
        background: url(boxingring.png) no-repeat center;
        margin: auto;
        display: flex;
    }
    
    .ring1 {
        width: 550px;
    }
    
    .ring2 {
        width: 550px;
    }
    
    .bonusbox {
        width: 1100px;
        height: 110px;
        margin: auto;
        background: lightgrey;
        display: flex;
    }
    
    .bonusbox1 {
        width: 550px;
        height: 110px;
        margin: auto;
        background: grey;
        display: flex;
    }
    
    .bonusbox1 p {
        position: relative;
        left: 0;
        top: 35px;
        padding-bottom: 20px;
    }
    
    .bonusbox2 p {
        position: relative;
        top: 35px;
        padding-bottom: 20px;
    }
    
    .bonusbox2 {
        width: 550px;
        height: 110px;
        margin: auto;
        background: darkgrey;
        display: flex;
    }
    /*.bonus {
    width: 20px;
    height: 20px;
    background: red;
}*/
    /*classes perso 1*/
    
    .perso1upper {
        animation: boxer 0.6s steps(1);
    }
    
    .perso1crochet {
        animation: boxercrochet 0.6s steps(1);
    }
    
    .perso1direct {
        animation: boxerdirect 0.5s steps(1);
    }
    
    .perso1coup {
        animation: boxercoup 0.5s steps(1);
    }
    
    .perso1etourd {
        animation: boxeretourd 0.5s steps(1);
    }
    
    .perso1evan {
        animation: boxerevan 0.5s steps(1);
    }
    /*classes perso 2*/
    
    .perso2upper {
        animation: advupper 0.5s steps(1);
    }
    
    .perso2crochet {
        animation: advcrochet 0.5s steps(1);
    }
    
    .perso2 {
        width: 229px;
        height: 295px;
        top: 40px;
        left: -80px;
        position: relative;
        display: inline-block;
        justify-content: flex-start;
        background: url("sprite2.png") no-repeat;
        background-position: -1775px -2px;
    }
    
    .perso1 {
        top: 40px;
        left: 390px;
        position: relative;
        width: 229px;
        height: 295px;
        display: inline-block;
        background: url("sprite1.png") no-repeat;
        background-position: -12px 0px;
    }
    
    .bouton1,
    .bouton4 {
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background: red;
        border: 5px solid darkred;
        margin: auto;
        box-shadow: 3px 2px 1px black;
    }
    
    .bouton2,
    .bouton5 {
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background: blue;
        border: 5px solid darkblue;
        margin: auto;
        box-shadow: 3px 2px 1px black;
    }
    
    .bouton3,
    .bouton6 {
        width: 40px;
        height: 40px;
        border-radius: 100px;
        background: green;
        border: 5px solid darkgreen;
        margin: auto;
        box-shadow: 3px 2px 1px black;
    }
    
    .bouton1:active,
    .bouton4:active {
        background: darkred;
        border: 5px solid red;
    }
    
    .bouton2:active,
    .bouton5:active {
        background: darkblue;
        border: 5px solid blue;
    }
    
    .bouton3:active,
    .bouton6:active {
        background: darkgreen;
        border: 5px solid green;
    }
    
    .compteur1,
    .compteur2 {
        margin: auto;
        text-align: center;
        background-image: linear-gradient(yellow, white);
        font-family: 'Geo', sans-serif;
        width: 18%;
        height: 490px;
        padding-top: 20px;
        border-radius: 10px 10px 0 0;
    }
    
    .compteur1 h1,
    .compteur2 h1 {
        font-family: 'Press Start 2P', cursive;
        text-shadow: 3px 3px 1px white;
    }
    
    .compteurvies1,
    .compteurvies2 {
        color: red;
        font-size: 3em;
    }
    
    #yourHealthBar {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 20px;
        width: 100px;
        background: lightgreen;
    }
    
    .tremble {
        animation-name: shake;
        animation-duration: 0.2s;
    }
    
    .eclair {
        animation-name: eclair;
        animation-duration: 0.1s;
    }
    
    .disparaitre {
        animation-name: fade;
        animation-duration: 1s;
    }
    
    @keyframes shake {
        10%,
        90% {
            transform: translate3d(-50px, 0, 0);
        }
        20%,
        80% {
            transform: translate3d(50px, 0, 0);
        }
        30%,
        50%,
        70% {
            transform: translate3d(-50px, 0, 0);
        }
        40%,
        60% {
            transform: translate3d(50px, 0, 0);
        }
    }
    
    @keyframes fade {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    
    @keyframes eclair {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0
        }
    }
    /* --------------------------------------- anims perso 1*/
    
    @keyframes boxer {
        0% {
            background-position: -12px 0px;
        }
        16% {
            background-position: -228px 0px;
        }
        32% {
            background-position: -440px 0px;
        }
        48% {
            background-position: -666px 0px;
        }
        64% {
            background-position: -440px 0px;
        }
        80% {
            background-position: -228px 0px;
        }
        100% {
            background-position: -12px 0px;
        }
    }
    
    @keyframes boxercrochet {
        0% {
            background-position: -12px 0px;
        }
        16% {
            background-position: -890px 0px;
        }
        32% {
            background-position: -1120px 0px;
        }
        48% {
            background-position: -1340px 0px;
        }
        64% {
            background-position: -1120px 0px;
        }
        80% {
            background-position: -890px 0px;
        }
        100% {
            background-position: -12px 0px;
        }
    }
    
    @keyframes boxerdirect {
        0% {
            background-position: -12px 0px;
        }
        16% {
            background-position: -228px 0px;
        }
        32% {
            background-position: -1560px 0px;
        }
        48% {
            background-position: -1780px 0px;
        }
        64% {
            background-position: -1560px 0px;
        }
        80% {
            background-position: -228px 0px;
        }
        100% {
            background-position: -12px 0px;
        }
    }
    
    @keyframes boxercoup {
        0% {
            background-position: -12px 0px;
        }
        16% {
            background-position: -11px -345px;
        }
        32% {
            background-position: -228px -345px;
        }
        48% {
            background-position: -440px -345px;
        }
        64% {
            background-position: -228px -345px;
        }
        80% {
            background-position: -11px -345px;
        }
        100% {
            background-position: -12px 0px;
        }
    }
    
    @keyframes boxeretourd {
        0% {
            background-position: -12px 0px;
        }
        16% {
            background-position: -658px -345px;
        }
        32% {
            background-position: -885px -345px;
        }
        48% {
            background-position: -1095px -345px;
        }
        64% {
            background-position: -885px -345px;
        }
        80% {
            background-position: -658px -345px;
        }
        100% {
            background-position: -12px 0px;
        }
    }
    
    @keyframes boxerevan {
        0% {
            background-position: -12px 0px;
        }
        40% {
            background-position: -1110px -345px;
        }
        80% {
            background-position: -1332px -345px;
        }
        100% {
            background-position: -1555px -345px;
        }
    }
    /*--------------------------------------------anims perso 2*/
    
    @keyframes advupper {
        0% {
            background-position: -1775px -2px;
        }
        16% {
            background-position: -1555px -2px;
        }
        32% {
            background-position: -1325px -2px;
        }
        48% {
            background-position: -1110px -2px;
        }
        64% {
            background-position: -1325px -2px;
        }
        80% {
            background-position: -1555px -2px;
        }
        100% {
            background-position: -1775px -2px;
        }
    }
    
    @keyframes advcrochet {
        0% {
            background-position: -1775px -2px;
        }
        16% {
            background-position: -840px -2px;
        }
        32% {
            background-position: -590px -2px;
        }
        48% {
            background-position: -380px -2px;
        }
        64% {
            background-position: -590px -2px;
        }
        80% {
            background-position: -840px -2px;
        }
        100% {
            background-position: -1775px -2px;
        }
    }